
.cp-i-banner {
  width: 610px;
  height: 289px;

  position: relative;

  background-color: #fdf2d0;
}

.cp-i-banner img {
  width: 232px;
  height: 232px;

  position: absolute;
  top: 28px;
}

.cp-i-banner-content {
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 341px;
  height: 82px;

  position: absolute;
  top: 103px;
  left: 270px;
}

