.category-product {
  padding-top: 80px;

  width: fit-content;
}

.category-product-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.cp-items {
  display: flex;
  flex-direction: column;

  gap: 24px;
}

.cp-items-catalogs {
  display: flex;
  align-items: center;

  gap: 24px;
}

.cp-t-catalog {
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 396px;
  height: 448px;
}

.cp-t-catalog img {
  border-radius: 900px;
  background-color: #d1d5db;

  width: 396px;
  height: 396px;
}

.cp-t-catalog .h4 {
  width: 100%;
  text-align: center;
}

.cp-items-banners {
  display: flex;
  gap: 16px;
}

@media screen and (max-width: 768px) {
  .category-product {
    padding-top: 64px !important;
  }
  .cp-items-catalogs {
    max-width: 720px;

    overflow: hidden;

    position: relative;
  }

  .cp-t-catalog {
    width: 348px;
    height: 400px;
  }

  .cp-t-catalog img {
    width: 348px;
    height: 400px;
  }

  .cp-t-icon {
    display: block !important;
    padding: 16px;
    border-radius: 50%;
    background-color: #f9d262;

    color: #111827;

    position: absolute;
    top: 172px;
    left: 662px;
  }

  .cp-items-banners {
    display: flex;
    flex-direction: column;
  }

  .cp-i-banner {
    width: 720px !important;
    height: 289px !important;
    position: relative !important;
    background-color: #fdf2d0;
  }

  .cp-i-banner.cp-i-divider {
    margin-bottom: 24px;
  }
  .cp-i-banner img {
    top: 29px;
    left: 100px;
  }
  .cp-i-banner-content {
    top: 103px;
    left: 379px !important;
  }
}

@media screen and (max-width: 576px) {
  .category-product {
    padding-top: 48px !important;
  }
  .cp-items-catalogs {
    max-width: 544px;

    overflow: hidden;
  }

  .cp-t-catalog {
    width: 296px;
    height: 358px;
  }

  .cp-t-catalog img {
    width: 296px;
    height: 296px;
  }

  .cp-items-banners {
    display: flex;
  }

  .cp-i-banner {
    width: 544px !important;
  }

  .cp-i-banner.cp-i-divider {
    margin-bottom: 24px;
  }

  .cp-i-banner img {
    top: 28px;
    left: 0;
  }

  .cp-i-banner-content {
    top: 103px;
    left: 283px !important;
    max-width: 229px;
  }
}
