.banners-small {
    padding: 0 6vmax;
    margin-bottom: 24px;
}

.banners-small h2 {
    padding: 2vmax 0 1vmax;
}

.banners-small-wrapper {
    display: flex;
    justify-content: space-between;
}

.banners-small-wrapper .banner-small {
    text-align: center;
}

.banner-small {
    margin-right: 16px;
}

.banner-small span {
    font-weight: bold;
    font-size: 1.5vmax;
}